<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>
<div>
    <h1>You entered incorrect data! Please retry your action again.</h1>
    <a href="/register">Navigate to registration</a>
    <div></div>
    <a href="/login">Navigate to login</a>

</div>
<style>
 body {
    height: 10em;
    margin: 0;
    background: #669999;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%
   }


</style>
</body>
</html>